*$py.class
*.cover
*.egg
*.egg-info/
*.manifest
*.out
*.py[cod]
*.spec
.cache
.coverage
.dmypy.json
.eggs/
.ipynb_checkpoints
.mypy_cache/
.pixi
.pyre/
.pytest_cache/
.pytype/
.ropeproject
__pycache__
__pycache__
_build
dist
